version: '3.9'
services:
  api:
    image: python:3.12-slim
    working_dir: /app
    volumes:
      - ..:/app
    command: bash -lc "pip install -e . && uvicorn api.rest_endpoints:app --host 0.0.0.0 --port 8000"
    ports:
      - "8000:8000"
